Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
/config.*
configure
autotools/config*
depcomp
.deps/
.libs/
dolt*
install-sh
libtool
ltmain.sh
missing
stamp-h1
_inst/
*.so
*.a
*.c
*.o
*.lo
*.tar.gz
*.la
*.vapi
*.deps
*.gir
*/tests/test*
.dirstamp
vala-ccode
vala-doc
temp/
Documentation

!valartl/value*.c
!*/tests/*.vala
