*~
*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
autotools/config*
depcomp
.deps/
.libs/
dolt*
!dolt.m4
install-sh
libtool
ltmain.sh
missing
stamp-h1
_inst/
*.so
*.log
*.a
*.c
*.h
*.o
*.lo
*.tar.gz
*.la
*.gir
*.pc
.dirstamp
*-ccode
vala-doc
temp/


test-*
examples/E01/example-01
examples/E02/example-02
examples/E02/example-03
examples/Mirror/mirror
tools/sample-volume
tools/scene-editor

Documentation
ucntracker/*.deps
ucntracker/*.vapi
ucntracker-vis/*.deps
ucntracker-vis/*.vapi

!*.vala
*.patch
